body {
    padding: 20px;
}

div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
    margin: 10px;
}

.translated {
    /* Creates a 3D perspective and moves element along Z-axis */
    transform: perspective(20px) translateZ(-10px);
}

.scaled {
    margin-left: 200px;
    transform: rotateZ(30deg);
    /*
    transform: perspective(350px) scaleZ(4) rotateX(45deg) rotateY(30deg) rotateZ(30deg);
    */
}